.content {
  width: max-content;
  padding: 16px 96px;
  background:#FFD700;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
}

 section {
  max-width: 380px;
  margin-bottom: 16px;
}

 .content form .input-group {
  background-color: #41414d;
  align-items: center;
 }

.title-lgconatiner{
  background-color:#FFD700;
  height: 50px;
  list-style: none;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  font: 400  Playfair, sans-serif;
}

.client-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
}

.client-container ul li {
  background: #eee;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  width: 100%;
}

.client-container ul li button {
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  border: 0;
  background: transparent;
  justify-content: space-around;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  
}

.container-buttons button {
  width: 260px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-buttons button svg{
  padding-left: 15px;
}

.container-buttons button svg .button-delete{
  padding-left: 0;
}

.client-container ul li button:hover {
  opacity: 0.8;  
}

.client-container ul li strong{
  display: block;
  margin-bottom: 16px;
  color: #41414d; 
}

.client-container ul li p + strong {
  margin-top: 32px;
}

.client-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}


.separator div{
  margin-top: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #737380;;
}

.modal-overlay{
  background-color: rgba(10,23,55,0.5);;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.modal-content{
  width: 90%;
  max-width: 500px;
  background-color:#FFF;
  border-radius: 8px;
}

.button-modal{
  margin: 1rem;
  padding: 6px;
  color: #FFF;
  border-radius: 8px;
  border:none;
  background-color:#FFD700;
}

.modal-title{
  color:#FF8C00;
  padding: 1rem;
}