@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0; 
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  }

  html, body, #root {
    min-height : 100%;
  }

   body {
    background-image: url(./images/fundo.jpg);
    background-size: cover;
    -webkit-font-smoothing: antialiased !important;
    font: 400 14px Playfair, sans-serif;
    max-width: auto;
    min-width: 100%;
   }
   
   input, button, textarea {
    font: 400 14px Playfair, sans-serif;
   }

   button {
    cursor: pointer;
   }
   
   a {
    text-decoration: none;
  }

form input {
  height: 40px;
  color: #FFF;
  border: 1px solid #1E8EF8;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 24px;
  margin: 0.5rem;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  color: rgb(158, 145, 145);
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.button {
  width: 100%;
  height: 60px;
  background: #1E8EF8;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  margin-left: 0px;
  padding: 15px 20px;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.link {
  width: 100%;
  height: 60px;
  background:	#1E8EF8;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  margin-left: 0px;
  padding: 15px 20px;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
  align-items: center;
  justify-content: center;
}

.button:hover {
  filter: brightness(90%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.8;
}

strong{
  color: #FFF;
}

.container-login{
  align-items: center;
  text-align: center;
  color: #FFF;
}

.input-group{
  position: relative;
}

